<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="/js/lib/jsCarousel.js"></script>


    <script src="js/angularapp.js"></script>

    <script src="js/services/user.js"></script>
    <script src="js/services/subjects.js"></script>
    <script src="js/services/courses.js"></script>
    <script src="js/services/ytplayer.js"></script>
    <script src="js/controllers/index.js"></script>


    <script src="js/controllers/loginbar.js"></script>
    <script src="js/controllers/sidebar.js"></script>
    <script src="js/controllers/intro.js"></script>
    <script src="js/controllers/subject.js"></script>
    <script src="js/controllers/course.js"></script>
    <script src="js/controllers/class.js"></script>
    <script src="js/controllers/auth.js"></script>

    <script type="text/javascript" src="//use.typekit.net/icn8ggh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <div ng-app="uniApp" id="content">
      <div ng-controller="LoginbarCtrl">
        <div class="header">
            <div class="container">
              <a href="#/" class="logo">UniversitYou</a>
                <div ng-if="logged">
                  <div class="btn">Welcome {{ user.name }}!</div>
                </div>
                <div ng-if="!logged">
                  <div class="btn">
                    Hello Guest!
                    <ul>
                      <li><a href="#/auth/login">Login</a></li>
                      <li><a href="#/auth/register">Register</a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <div ng-if="logged" ng-controller="SidebarCtrl">
          <ul id="sidebar">
            <li ng-repeat="subject in subjects">
              <a href="#/{{ subject.slug }}"><i class="fa fa-{{ subject.style[0] }}" style="background-color:#{{ subject.style[1] }}"></i><span>{{ subject.name }}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-view>

      </div>
    </div>
    <footer>
        <div class="pull-left">Copyright 2014</div>
        <div class="pull-right" onclick="alert('Lol yeah right, this is an MVP')">Terms of Service</div>
    </footer>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
