@import '../../bower_components/bootstrap/less/bootstrap.less';

@font-family-sans-serif: "museo-sans";


#intro {
    background: url('../../images/introbg.png');
    text-transform: uppercase;
    text-align: center;

    .btn-outlined {
        border: 2px solid #fff;
        color: #fff;
        font-size: 1.25em;
        margin-top: 20px;
        margin-bottom: 20px;
        .transition(0.3s);

        &:hover {
            color: #000;
            border-color: #000;
        }
    }

    .video > * {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    }

    h1 {
        font-size: 3em;
        padding: 50px 0 25px;
        color: #00;
        font-weight: 300;
        margin: 0;

        b {
            font-weight: 500;
            color: #fff;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
    }
}

.banner {
    padding: 20px;

    h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 100;
        margin: 0;

        small {
            display: block;
            font-weight: 200;
            font-size: 0.5em;
        }
    }

    &.banner-light {
        background: #f0f0f0;
        border-bottom: 1px solid #ccc;
    }
}

.header {
    margin: 0;
    background: #222;
    line-height: 50px;
    text-align: center;

    img {
        border-radius: 50%;
        display: inline-block;
        margin: 0 3px;
    }

    .btn {
        display: inline-block;
        background: #333;
        color: #ccc;
        font-weight: 200;
        border-radius: 0;
        float: right;
        margin: 14px 0;
        position: relative;

        &:hover {
            color: #fff;

            ul {
                display: block;
            }
        }

        ul {
            display: none;
            position: absolute;
            top: 32px;
            background: #333;
            right: -1px;
            padding: 0;
        }

        li {
            list-style-type: none;
            text-align: right;
            padding: 5px;
            min-width: 150px;
            border-top: 1px solid #444;
            color: #ccc;

            a {
                color: #ccc;
                display: block;
            }
        }
    }
}

.logo {
    float: left;
    display: block;
    background: url('../../images/logo.png') center center no-repeat;
    min-width: 156px;
    min-height: 38px;
    text-indent: -9999px;
    margin: 6px 0;
}

footer {
    font-weight: 200;
    padding: 10px;
    color: #999;
}