<div class="half-yel">
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12 course-heading">All Subjects</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 top_videos">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="col-sm-3"><img src="http://placehold.it/125x125" alt=""></div>
                    <div class="col-sm-3"><img src="http://placehold.it/125x125" alt=""></div>
                    <div class="col-sm-3"><img src="http://placehold.it/125x125" alt=""></div>
                    <div class="col-sm-3"><img src="http://placehold.it/125x125" alt=""></div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-9 dont_underline">
                    <div class="col-sm-6" ng-repeat="subject in subjects">
                        <a class="subject-header" style="background-color:#{{ subject.style[1] }}" href="#/{{subject.slug}}">
                            <i class="fa fa-{{ subject.style[0] }}"></i><span>{{ subject.name }}</span></a>
                        </a>
                        <ul class="subject-body">
                            <li ng-repeat="course in subject.courses">
                                <a href="#/{{subject.slug}}/{{course.slug}}">{{ course.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        Ad Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes
                        HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes HereAd Goes
                        HereAd Goes HereAd Goes Here
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>