<div class="navbar">
    <img src="img/profile.jpg" alt="">
    <img src="img/profile.jpg" alt="">
    <img src="img/profile.jpg" alt="">
    <img src="img/profile.jpg" alt="">
    <img src="img/profile.jpg" alt="">
</div>
<div id="intro">
    <h1>Welcome to <b>UniversitYou</b></h1>
    <div class="video" data-hash="2YBtspm8j8M"></div>
    <div class="row">
        <a class="btn btn-outlined col-sm-4 col-sm-offset-4">Get Started for Free</a>
    </div>
</div>
<div class="banner banner-light">
    <h2>Free, open education<small>Available at the tip of your fingers.</small></h2>
</div>
<footer>
    <div class="row">
        <div class="pull-left">Copyright 2014</div>
        <div class="pull-right">Terms of Service</div>
    </div>
</footer>