<div class="half-yel">
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12 course-heading">{{ subject.name }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-repeat="course in subject.courses">
                <div class="col-md-3">
                    <div class="course-subject-preview" style="background-image:url('{{ yt.preview(course.classes[0].youtube, 0) }}')"></div>
                </div>
                <div class="col-md-9">
                    <h2><a href="#/{{ subject.slug }}/{{ course.slug }}/">{{ course.name }} <small>Playing Time: {{ course.total_duration | niceSeconds }}</small></a></h2>
                    <ul class="course-subject-classlist">
                        <li ng-repeat="cls in course.classes">
                            <a href="#/{{ subject.slug }}/{{ course.slug }}/{{ cls.slug }}"><i class="fa fa-play-circle"></i> {{ cls.name }} <span>{{ cls.duration | niceSeconds }}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>